/*Global*/

* {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/*nav*/

.imagenesnav img{
    width: 30px;
    height: 30px;
}

.logo {
    width: 40px;
    height: 40px;
}
.buscador{
margin-right: 20px;
}
.modal-content{
font-family: 'Manjari', sans-serif;
font-weight: bold;
background-color: white;
}

/*Categorias*/
.categorias{
  margin-left: 50px;
  margin-right: 50px;
}
.linkscategorias a{
  width: 45%;
  margin-bottom: 2%;
}
.categoriasimg{
  border-radius: 50%;
  width: 100%;
}



/* FOOTER */
footer{
  margin-top: 50px;
  background-color: #ccc;
  padding-top: 20px
}

.redesociales {
margin-right: 20px;
}

.iconos {
display: inline-flex;
}

.fa-instagram {
margin: 4px;
font-size: 30px;
  color: #DC3545;

}

.fa-facebook-square {
  margin: 4px;
  font-size: 30px;
  color: #DC3545;
}

.fa-twitter-square {
  margin: 4px;
  font-size: 30px;
    color: #DC3545;
}

.form-inline {
margin-left: 8px;
}

.marcaregistrada {
color: grey;
font-size: 11px;
}
.footer{
  padding-top: 7px
}
.listafooter{
  text-decoration: none;
  color: inherit;
}
.footer ul
{
    margin: 0;
    padding: 0;
}

.footer ul li
{
    list-style-type: none;
    display: inline;
}

.footer li:not(:first-child):before {
    content: " | ";
    margin-left: 5px;
}





/*TERMINA FOOTER */

@media (min-width: 768px){
  .linkscategorias a{
    width: 28%;
  }

}
